/*<meta />*/

@media only screen and (max-width: 767px)
{
	.search-bar
	{
		width: 100%;
	}

	.search-bar._Skins_searchbar.mc-component
	{
		width: 100%;
	}

	.search-bar._Skins_searchbar.mc-component .search-field
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_searchbar.mc-component .search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: #ffffff url('Images/FilterOutline.png') no-repeat center center;
	}

	.search-bar._Skins_searchbar.mc-component .search-submit
	{
		
	}

	._Skins_searchbar.mc-component .search-filter-content
	{
		top: 2em;
		background-color: #ffffff;
	}

	.search-bar._Skins_searchbar.mc-component .search-filter.open
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #ffffff;
	}

	.search-bar._Skins_searchbar.mc-component .search-filter:hover
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_searchbar.mc-component .search-filter.selected
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: transparent url('Images/Filter.png') no-repeat center center;
	}

	._Skins_searchbar.mc-component .search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_searchbar.mc-component .search-field::-webkit-input-placeholder
	{
		
	}

	.search-bar._Skins_searchbar.mc-component .search-field::-moz-placeholder
	{
		
	}

	.search-bar._Skins_searchbar.mc-component .search-field:-moz-placeholder
	{
		
	}

	.search-bar._Skins_searchbar.mc-component .search-field:-ms-input-placeholder
	{
		
	}

	.search-bar.search-bar-container._Skins_searchbar.mc-component .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: #ffffff url('Images/SearchIcon.png') no-repeat center center;
	}

	.search-bar.search-bar-container._Skins_searchbar.mc-component .search-submit:hover
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #ffffff;
	}

	ul.menu._Skins_TocMenu.mc-component
	{
		background-color: #ffffff;
	}

	ul.menu._Skins_TocMenu.mc-component a
	{
		
	}

	ul.menu._Skins_TocMenu.mc-component li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_TocMenu.mc-component ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_TocMenu.mc-component ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_TocMenu.mc-component ul ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_TocMenu.mc-component ul ul ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_TocMenu.mc-component li > a.selected
	{
		background-color: transparent;
	}

	ul.menu._Skins_TocMenu.mc-component li > a:hover
	{
		background-color: #cacaca;
	}

	ul.menu._Skins_TocMenu.mc-component ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu._Skins_TocMenu.mc-component ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu._Skins_TocMenu.mc-component ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu._Skins_TocMenu.mc-component ul ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu._Skins_InternalMenu.mc-component li > a:hover
	{
		background-color: transparent;
	}

	ul.menu._Skins_InternalMenu.mc-component ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: transparent;
	}

	ul.menu._Skins_InternalMenu.mc-component ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: transparent;
	}

	ul.menu._Skins_InternalMenu.mc-component ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: transparent;
	}

	ul.menu._Skins_InternalMenu.mc-component ul ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: transparent;
	}

	ul.menu._Skins_TocMenu.mc-component li > a.selected:hover
	{
		background-color: #cacaca;
	}

	ul.menu._Skins_InternalMenu.mc-component li > a.selected:hover
	{
		background-color: transparent;
	}

	ul.menu._Skins_InternalMenu.mc-component
	{
		background-color: #ffffff;
	}

	ul.menu._Skins_InternalMenu.mc-component a
	{
		
	}

	ul.menu._Skins_InternalMenu.mc-component li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_InternalMenu.mc-component ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_InternalMenu.mc-component ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_InternalMenu.mc-component ul ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_InternalMenu.mc-component ul ul ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu._Skins_InternalMenu.mc-component li > a.selected
	{
		background-color: transparent;
	}
}

.search-bar._Skins_searchbar.mc-component
{
	width: 100%;
}

.search-bar._Skins_searchbar.mc-component .search-field
{
	background-color: #ffffff;
}

.search-bar._Skins_searchbar.mc-component .search-filter
{
	background: #ffffff url('Images/FilterOutline.png') no-repeat center center;
	background-repeat: no-repeat;
	background-position: center center;
}

.search-bar._Skins_searchbar.mc-component .search-submit
{
	
}

._Skins_searchbar.mc-component .search-filter-content
{
	background-color: #ffffff;
	top: 2em;
}

.search-bar._Skins_searchbar.mc-component .search-filter.open
{
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center center;
}

.search-bar._Skins_searchbar.mc-component .search-filter:hover
{
	background-color: #ffffff;
}

.search-bar._Skins_searchbar.mc-component .search-filter.selected
{
	background: transparent url('Images/Filter.png') no-repeat center center;
	background-repeat: no-repeat;
	background-position: center center;
}

._Skins_searchbar.mc-component .search-filter-content ul li:hover
{
	background-color: #ffffff;
}

.search-bar._Skins_searchbar.mc-component .search-field::-webkit-input-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field::-moz-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field:-moz-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field:-ms-input-placeholder
{
	
}

.search-bar.search-bar-container._Skins_searchbar.mc-component .search-submit
{
	background: #ffffff url('Images/SearchIcon.png') no-repeat center center;
	background-repeat: no-repeat;
	background-position: center center;
}

.search-bar.search-bar-container._Skins_searchbar.mc-component .search-submit:hover
{
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center center;
}

ul.menu._Skins_TocMenu.mc-component
{
	background-color: #ffffff;
}

ul.menu._Skins_TocMenu.mc-component a
{
	
}

ul.menu._Skins_TocMenu.mc-component li > a
{
	background-color: transparent;
}

ul.menu._Skins_TocMenu.mc-component ul > li > a
{
	background-color: transparent;
}

ul.menu._Skins_TocMenu.mc-component ul ul > li > a
{
	background-color: transparent;
}

ul.menu._Skins_TocMenu.mc-component ul ul ul > li > a
{
	background-color: transparent;
}

ul.menu._Skins_TocMenu.mc-component ul ul ul ul > li > a
{
	background-color: transparent;
}

ul.menu._Skins_TocMenu.mc-component li > a.selected
{
	background-color: transparent;
}

ul.menu._Skins_TocMenu.mc-component li > a:hover
{
	background-color: #cacaca;
}

ul.menu._Skins_TocMenu.mc-component ul > li > a:hover
{
	background-color: #cacaca;
	background-repeat: repeat;
}

ul.menu._Skins_TocMenu.mc-component ul ul > li > a:hover
{
	background-color: #cacaca;
	background-repeat: repeat;
}

ul.menu._Skins_TocMenu.mc-component ul ul ul > li > a:hover
{
	background-color: #cacaca;
	background-repeat: repeat;
}

ul.menu._Skins_TocMenu.mc-component ul ul ul ul > li > a:hover
{
	background-color: #cacaca;
	background-repeat: repeat;
}

ul.menu._Skins_TocMenu.mc-component li > a.selected:hover
{
	background-color: #cacaca;
}

.search-bar._Skins_searchbar.mc-component .search-field::-webkit-input-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field::-moz-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field:-moz-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field:-ms-input-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field::-webkit-input-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field::-moz-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field:-moz-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field:-ms-input-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field::-webkit-input-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field::-moz-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field:-moz-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field:-ms-input-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field::-webkit-input-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field::-moz-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field:-moz-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field:-ms-input-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field::-webkit-input-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field::-moz-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field:-moz-placeholder
{
	
}

.search-bar._Skins_searchbar.mc-component .search-field:-ms-input-placeholder
{
	
}

