/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Orange-Row;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 5;
	border-spacing-y: 21;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
	type: Header;
	size: 50px;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Header1;
	id: 2;
	background-color: #ff8c00;
	color: #000000;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
	background-color: #ffffff;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	cell-content-style-tag: p;
	cell-content-style-class: table-text;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-color: #f5f5f5;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	cell-content-style-tag: p;
	cell-content-style-class: table-text;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	vertical-align: top;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	cell-content-style-tag: p;
	cell-content-style-class: table-text;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-Orange-Row
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 21px;
}

.TableStyle-Orange-Row-Column-Column1
{
	width: 50px;
}

.TableStyle-Orange-Row-Column-Column2
{
	
}

.TableStyle-Orange-Row-Head-Header1
{
	
}

.TableStyle-Orange-Row-HeadI-Column1-Header1
{
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-HeadI-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadE-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-HeadE-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadF-Column1-Header1
{
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-HeadF-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadH-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-HeadH-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadD-Column1-Header1
{
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-HeadD-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadC-Column1-Header1
{
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-HeadC-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadB-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-HeadB-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadA-Column1-Header1
{
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-HeadA-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadG-Column1-Header1
{
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-HeadG-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadI-Column2-Header1
{
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-HeadI-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadE-Column2-Header1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-HeadE-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadF-Column2-Header1
{
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-HeadF-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadH-Column2-Header1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-HeadH-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadD-Column2-Header1
{
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-HeadD-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadC-Column2-Header1
{
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-HeadC-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadB-Column2-Header1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-HeadB-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadA-Column2-Header1
{
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-HeadA-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-HeadG-Column2-Header1
{
	color: #000000;
	background-color: #ff8c00;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-HeadG-Column2-Header1 p
{
	color: #000000;
}

.TableStyle-Orange-Row-Foot-Footer1
{
	
}

.TableStyle-Orange-Row-FootI-Column1-Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootE-Column1-Footer1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Orange-Row-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootF-Column1-Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Orange-Row-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootH-Column1-Footer1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootD-Column1-Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Orange-Row-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootC-Column1-Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootB-Column1-Footer1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootA-Column1-Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootG-Column1-Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootI-Column2-Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-FootI-Column2-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootE-Column2-Footer1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Orange-Row-FootE-Column2-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootF-Column2-Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Orange-Row-FootF-Column2-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootH-Column2-Footer1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-FootH-Column2-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootD-Column2-Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Orange-Row-FootD-Column2-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootC-Column2-Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-FootC-Column2-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootB-Column2-Footer1
{
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-FootB-Column2-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootA-Column2-Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-FootA-Column2-Footer1 p
{
	
}

.TableStyle-Orange-Row-FootG-Column2-Footer1
{
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-FootG-Column2-Footer1 p
{
	
}

.TableStyle-Orange-Row-Body-Body1
{
	
}

.TableStyle-Orange-Row-BodyI-Column1-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyE-Column1-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Orange-Row-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyF-Column1-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyH-Column1-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Orange-Row-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyD-Column1-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyC-Column1-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyB-Column1-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Orange-Row-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyA-Column1-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyG-Column1-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyI-Column2-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyI-Column2-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyE-Column2-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Orange-Row-BodyE-Column2-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyF-Column2-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-BodyF-Column2-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyH-Column2-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Orange-Row-BodyH-Column2-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyD-Column2-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-BodyD-Column2-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyC-Column2-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyC-Column2-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyB-Column2-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Orange-Row-BodyB-Column2-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyA-Column2-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyA-Column2-Body1 p
{
	
}

.TableStyle-Orange-Row-BodyG-Column2-Body1
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyG-Column2-Body1 p
{
	
}

.TableStyle-Orange-Row-Body-Body2
{
	
}

.TableStyle-Orange-Row-BodyI-Column1-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyE-Column1-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Orange-Row-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyF-Column1-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyH-Column1-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Orange-Row-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyD-Column1-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyC-Column1-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyB-Column1-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Orange-Row-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyA-Column1-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyG-Column1-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyG-Column1-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyI-Column2-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyI-Column2-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyE-Column2-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Orange-Row-BodyE-Column2-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyF-Column2-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-BodyF-Column2-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyH-Column2-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Orange-Row-BodyH-Column2-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyD-Column2-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Orange-Row-BodyD-Column2-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyC-Column2-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyC-Column2-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyB-Column2-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Orange-Row-BodyB-Column2-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyA-Column2-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyA-Column2-Body2 p
{
	
}

.TableStyle-Orange-Row-BodyG-Column2-Body2
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Orange-Row-BodyG-Column2-Body2 p
{
	
}


