.nav-pillz .nav-link {
  color: #000;
  background-color: #e9efec}

.nav-pillz .nav-link:hover, .nav-pillz .nav-link:focus {
  color: #fff;
  background-color: #006400; }
  
 .nav-pillz .nav-link.active,
.nav-pillz .show > .nav-link {
  color: #fff;
  background-color: #006400; }